
@font-face {
    font-family: "myFont";
    src: url("/website/fonts/AguDisplay-Regular-VariableFont_MORF.ttf");
  }

  #buttonsDiv {
    display: flex;
    justify-content: flex-end;

  }

  #first {
    display: flex;
    font-family: "myFont";
    justify-content: center;
  }



  #second {
    display: flex;
    font-family: "myFont";


  }

  #imgcontanior {
  display: flex;
  justify-content: center; 
  gap: 20px;
  align-items: flex-start;
}

#imgcontanior div {
  text-align: center; 
  flex-direction: column; 
  align-items: center;
}

#imgcontanior img {
  max-width: 200px; 
  height: auto;
}